NODE_ENV= Modo de trabajo, development o production
IP_SERVER= IP que se va usar para acceder a la aplicación
PORT= Puerto a usar para servidor
AUTH_PORT=  Puerto a usar para servidor de authentication 
HTTP_PORT= Puerto a usar para el servidor http (80)
HTTPS_PORT= Puerto a usar para el servidor https (433)
AUTH_RATELIMITER_PORT= Puerto a usar para el servidor rate limiter de autenticación
RATELIMITER_PORT= Puerto a usar para el servidor rate limiter

KEY_PATH= Ruta absoluta de la clave privada del certificado TLS
CERT_PATH=  Ruta absoluta del certificado TLS

#DB
DB_HOST= Host de la base de datos 
DB_USER= Usuario de la base de datos con el que se va hacer la conexión a la misma
DB_PASSWORD= Contraseña del usuario a utilizar para la conexión a la base de datos
DB_DATABASE= Nombre de la base de datos a conectarse
DB_PORT= Puerto que usa la base de datos para hacer la conexión

SECRET_JWT_SEED= para firmar los los JSON web tokens para peticiones CRUD
SECRET_JWT_RECOVERY_SEED= para firmar los los JSON web tokens de recuperación de datos 
